@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.color {
    background: #FFFFFF;
    border-radius: none;
    color: #3F87F5;
}

/* footer {
    margin-top: 100px;
    height: 200px;
    background: #0a0826;
    display: flex;
    justify-content: center;
    align-items: center;
} */